* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}